## 6.3.1 Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

`Lists` are constructed with brackets `[]` and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

We just created a list of integers, but lists can actually hold different object types, different data-types. For example:

In [ ]:
my_list = ['rohith',4, 4.4,True]

In [ ]:
len(my_list)

4

In [ ]:
A = ['rohith', 44.4,1999,2+3j,False]

In [ ]:
len(A)

5

In [ ]:
for i in range (len(A)):
  print(A[i])

rohith
44.4
1999
(2+3j)
False

In [ ]:
for i in range(len(A)):
  print(f"i={i}, value={A[i]}, datatype={type(A[i])}")

i=0, value=rohith, datatype=<class 'str'>
i=1, value=44.4, datatype=<class 'float'>
i=2, value=1999, datatype=<class 'int'>
i=3, value=(2+3j), datatype=<class 'complex'>
i=4, value=False, datatype=<class 'bool'>

In [3]:
A = ['rohith', 44.4,1999,2+3j,False]

In [4]:
A[::2]

['rohith', 1999, False]

In [ ]:
A[2:]

[1999, (2+3j), False]

In [1]:
A[0::2]

NameError: ignored

In [ ]:
for i in range(0,5,2):   # start : end : step
  print(i,A[i])

0 rohith
2 1999
4 False

In [ ]:
A[::-2]

[False, 1999, 'rohith']

In [ ]:
for i in range(0,len((A))):
  print(i,A[i])

0 rohith
1 44.4
2 1999
3 (2+3j)
4 False

In [ ]:
for i in range(-1,-len(A),-1):
  print(i,A[i])

-1 False
-2 (2+3j)
-3 1999
-4 44.4

In [ ]:
for i in range(-1,-len(A)-1,-1):
  print(i,A[i])

-1 False
-2 (2+3j)
-3 1999
-4 44.4
-5 rohith

In [ ]:
for i in [1,3]:
  print(i,A[i])

1 44.4
3 (2+3j)

In [5]:
R = [2, 4,44,64,46,12,4.6]

In [6]:
R[2] = 4.5

In [7]:
R

[2, 4, 4.5, 64, 46, 12, 4.6]

In [8]:
A + R  #concatination

['rohith', 44.4, 1999, (2+3j), False, 2, 4, 4.5, 64, 46, 12, 4.6]

In [9]:
R * 2

[2, 4, 4.5, 64, 46, 12, 4.6, 2, 4, 4.5, 64, 46, 12, 4.6]

In [ ]:
A *

# Basic list methods


1.  they have no fixed size
2.  they have no fixed type constraints

explore more special methods for list

##len()


length of a list can be calculated using len()

In [10]:
R = [2, 4,44,64,46,12,4.6]
len(R)

7

In [11]:
items_to_buy = list()

for i in range(5):
  user_input = input("enter the item: ")
  items_to_buy = items_to_buy + [user_input]
print(items_to_buy)

enter the item: shirt
enter the item: pant
enter the item: glass
enter the item: shorts
enter the item: hoodie
['shirt', 'pant', 'glass', 'shorts', 'hoodie']

##check membership in a list